---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

@import "normalize";

// Our variables
$base-font-family: "freight-text-pro",Georgia,Cambria,"Times New Roman",Times,serif;
$base-font-size:   22px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;
$content-width:    800px;

$brand-color: #2c3e50;
$brand-color-alt: #e67e22;
$background-color: #ffffff;

$text-color: #212121;
$text-color-alt: #727272;
$text-color-brand: #ffffff;

// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

* {
  box-sizing: border-box;
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import
  "syntax-highlighting",
  "base",
  "layout"
;
