h1 {
  font-size: (2 * $spacing-unit);
  text-align: center;
  color: $brand-color;
  margin-top: (2 * $spacing-unit);
}

h1 + p {
  text-align: center;
}

h2 {
  color: $text-color-alt;
  margin-top: (3 * $spacing-unit);
}

h3 {
  color: $text-color-alt;
  margin-top: (3 * $spacing-unit);
}

.footer {
  padding-top: (0.66 * $spacing-unit);
  padding-bottom: (0.66 * $spacing-unit);
}

.wrapper {
  width: 100%;
  max-width: $content-width;
  margin: 0 auto;
  padding-left: $spacing-unit;
  padding-right: $spacing-unit;
  position: relative;
}

.wrapper-extended {
  max-width: 1200px;
}

.centered {
  text-align: center;
}

table {
  width: 100%;
  max-width: 100%;
  margin-bottom: $spacing-unit;

  > thead,
  > tbody,
  > tfoot {
    > tr {
      > th,
      > td {
        padding: 10px;
        line-height: $base-line-height;
        vertical-align: top;
        border: 1px solid #dddddd;
      }
    }
  }
  > thead > tr > th {
    vertical-align: bottom;
    border-bottom: 2px solid #dddddd;
  }
  > tbody > tr:nth-of-type(odd) {
    background-color: #f9f9f9;
  }
  > tbody > tr > td:nth-child(4) {
    text-align: center;
  }
}

.icon-github {
  position: absolute;
  top: (0.66 * $spacing-unit);
  right: $spacing-unit;

  svg {
    width: 50px;
    height: 50px;

    path {
      fill: $brand-color;
    }
  }
}

footer {
  padding-top: $spacing-unit;
  padding-bottom: $spacing-unit;
}

.project-api {
  margin: $spacing-unit;

  .version {
    min-width: 400px;
    text-align: left;
    position: relative;
  }

  a {
    display: block;
    position: absolute;
    top: $spacing-unit;
    right: $spacing-unit;
  }
}

.other-api p {
  text-align: center;
}
