jobs:
  linting:
    runs-on: ubuntu-latest
    steps:
      - uses: "actions/checkout@v2"
      - name: Setup Java and Scala
        uses: "olafurpg/setup-scala@v10"
        with:
          java-version: "adopt@1.8"
      - name: Cache sbt
        uses: "actions/cache@v2"
        with:
          key: "${{ runner.os }}-sbt-cache-v2-${{ hashFiles('**/*.sbt') }}-${{ hashFiles('project/build.properties') }}"
          path: |
            ~/.sbt
            ~/.ivy2/cache
            ~/.coursier/cache/v1
            ~/.cache/coursier/v1
            ~/AppData/Local/Coursier/Cache/v1
            ~/Library/Caches/Coursier/v1
      - name: Checking code formatting
        run: sbt formatCheck
  mdoc:
    runs-on: ubuntu-latest
    steps:
      - uses: "actions/checkout@v2"
      - name: Setup Java and Scala
        uses: "olafurpg/setup-scala@v10"
        with:
          java-version: "adopt@1.8"
      - name: Cache sbt
        uses: "actions/cache@v2"
        with:
          key: "${{ runner.os }}-sbt-cache-v2-${{ hashFiles('**/*.sbt') }}-${{ hashFiles('project/build.properties') }}"
          path: |
            ~/.sbt
            ~/.ivy2/cache
            ~/.coursier/cache/v1
            ~/.cache/coursier/v1
            ~/AppData/Local/Coursier/Cache/v1
            ~/Library/Caches/Coursier/v1
      - name: Check the mdoc documentation
        run: sbt docs/mdoc
  mima:
    runs-on: ubuntu-latest
    steps:
      - uses: "actions/checkout@v2"
      - name: Setup Java and Scala
        uses: "olafurpg/setup-scala@v10"
        with:
          java-version: "adopt@1.8"
      - name: Cache sbt
        uses: "actions/cache@v2"
        with:
          key: "${{ runner.os }}-sbt-cache-v2-${{ hashFiles('**/*.sbt') }}-${{ hashFiles('project/build.properties') }}"
          path: |
            ~/.sbt
            ~/.ivy2/cache
            ~/.coursier/cache/v1
            ~/.cache/coursier/v1
            ~/AppData/Local/Coursier/Cache/v1
            ~/Library/Caches/Coursier/v1
      - name: Report binary issues
        run: "sbt ${{ matrix.project }}/mimaReportBinaryIssues"
    strategy:
      matrix:
        project:
          - core
          - playJson
          - playFramework
          - circe
          - upickle
          - json4sNative
          - json4sJackson
          - argonaut
          - zioJson
  tests:
    runs-on: ubuntu-latest
    steps:
      - uses: "actions/checkout@v2"
      - name: Setup Java and Scala
        uses: "olafurpg/setup-scala@v10"
        with:
          java-version: "adopt@1.8"
      - name: Cache sbt
        uses: "actions/cache@v2"
        with:
          key: "${{ runner.os }}-sbt-cache-v2-${{ hashFiles('**/*.sbt') }}-${{ hashFiles('project/build.properties') }}"
          path: |
            ~/.sbt
            ~/.ivy2/cache
            ~/.coursier/cache/v1
            ~/.cache/coursier/v1
            ~/AppData/Local/Coursier/Cache/v1
            ~/Library/Caches/Coursier/v1
      - if: "!startsWith(matrix.scala, '2.13')"
        name: Test
        run: "sbt ++${{ matrix.scala }} ${{ matrix.project }}/test"
      - if: "startsWith(matrix.scala, '2.13')"
        name: Test with coverage
        run: "sbt ++${{ matrix.scala }} coverage ${{ matrix.project }}/test coverageReport"
      - if: "startsWith(matrix.scala, '2.13')"
        name: Publish coverage
        uses: "codecov/codecov-action@v1"
    strategy:
      matrix:
        exclude:
          - project: playJson
            scala: 3.2.1
          - project: playFramework
            scala: 3.2.1
        project:
          - core
          - playJson
          - playFramework
          - circe
          - upickle
          - json4sNative
          - json4sJackson
          - argonaut
          - zioJson
        scala:
          - 2.12.15
          - 2.13.8
          - 3.1.3
name: CI
on:
  pull_request:
    branches:
      - master
  push:
    branches:
      - master
